body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

h2 {
  color: #ffffff;
  font-size: 16px;
}

h3 {
  background: #fa382f 0% 0% no-repeat padding-box;
  color: #ffffff;
  display: inline;
  letter-spacing: 0;
  opacity: 1;
  padding: 3px 9px;
  text-align: center;
}

h4 {
  color: #dd2424;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}

p {
  display: block;
  font-size: 12px;
  margin: 8px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.red-arrows {
  color: #dd2424;
  font-weight: bold;
}


/* HERO IMAGE SECTION ****************************/
.hero-image {
  background-image: url("unsplash_red.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 0px;
  opacity: 1;
  padding-top: 10vh;
  padding-bottom: 3vh;
}

.hero-text {
  color: white;
  padding-left: 5vw;
  padding-top: 3vh;
}

.hero-title {
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.top-below {
  display: flex;
  flex-direction: row;
}

.icon-white {
  border: 2px solid white;
  border-radius: 35%;
  height: 16px;
  width: 16px;
  padding: 12px;
}

.circles-white {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 5vw;
}

.circle-white {
  margin-right: 1vw;
}

.profile-image {
  align-self: flex-end;
  height: 150px;
  margin-left: auto;
  padding-right: 4vw;
  padding-top: 3vh;
  width: 150px;
}

/* INTRODUCTION SECTION *******************/
.intro-section {
  background: rgb(255,250,205);
  display: block;
  height: 100%;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
  text-align: center;
  width: 100%;
}

.intro-text {
  font-size: 17px;
  line-height: 1.5em;
  margin: 0 auto; 
  padding-bottom: 1vh;
  padding-top: 1vh;
  text-align: left;
  width: 80%;
}

.red-line {
  background-color: #ed1250;
  display: inline-block;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 0.9rem;
  position: relative;
  width: 35px;
}

.red-line::after {
  background-color: #ed1250;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  left: 34px;
  position: absolute;
  top: -3px;
  width: 7px;
}

/* MAIN SECTION ****************************/

/* TECH */
.skills-section {
  display: block;
  height: 100%;
  padding-top: 4vh;
  text-align: center;
  width: 100%;
}

.tech-skills {
  margin-bottom: 5vh;
  text-align: center;
}

.skills-listed {
  font-size: 17px;
  line-height: 1.5em;
  margin: 0 auto; 
  padding-bottom: 1vh;
  padding-top: 1vh;
  text-align: left;
  width: 80%;
}

.intro {
  text-align: center;
}

/* SKILLS */
.skills {
  background: rgb(255,250,205);
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
  text-align: center;
}

.skills-container {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0 auto;
}

ul {
  line-height: 1.5em;
  list-style-type: none;
  padding-right: 8vw;
}

.li a {
  text-decoration: none;
}

/* FEATURED PROJECTS */
.featured-projects {
  background: rgb(255,250,205);
  margin: 0 auto;
  padding: 50px 10%;
  padding-bottom: 3vh;
}

.featured-header {
  margin-left: 10%;
}

.menu-container {
  padding-top: 4vh;
  padding-left: 10%;
}

.box {
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.project-image {
  height: 12rem;
  width: 15rem;
}

.project-text {
  font-family: 'Roboto';
  padding-top: 1vh;
  width: 15rem;
}

.project-name {
  color: #dd2424;
  font-weight: bold;
}

.skill-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 5vh;
  padding-top: 2vh;
}

.skill-tag {
  background-color: pink;
  display: inline-block;
  font-size: 10px;
  margin-right: 4px;
  padding: 3px 6px;
}

.other-projects {
  padding-top: 5vh;
}

.other-project {
  margin-bottom: 4vh;
}

/* MY THOUGHTS ABOUT CODE*/
.my-thoughts {
  margin: 0 auto;
  padding: 50px 10%;
}

.thoughts-container {
  font-family: 'Roboto';
  padding-top: 5vh;
  padding-left: 10%;
}

.thought-image {
  height: 12rem;
  padding-bottom: 2vh;
  width: 15rem;
}

.thought-date {
  color: red;
  font-size: 14px;
}

.thoughts {
  font-weight: bold;
  padding-bottom: 1vh;
}

.thoughts-text {
  font-family: 'Roboto';
  font-size: 14px;
  padding-bottom: 6vh;
}

.thoughts-more {
  font-size: 14px;
  font-weight: bold;
}

/* SKILLS */
.skills-container {
  font-family: 'Roboto';
}

/* FOR MORE */
.for-more {
  color: red;
  text-align: center;
}

.circles-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.circle-red {
  margin-left: 3vw;
}

.icon-red {
  border: 2px solid red;
  border-radius: 35%;
  height: 24px;
  padding: 20px;
  width: 24px;
}

/* CONTACT *********************/
.contact {
  background:rgb(220,20,60);
  color: white;
  margin-top: 5vh;
  padding-bottom: 7vh;
  padding-top: 7vh;
}

#contact-text {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}


/* MEDIA QUERIES *******************/
@media(min-width: 768px) {
h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

.hero-text {
  padding-left: 10vw;
  padding-top: 0vh;
}

.profile-image {
  height: 170px;
  padding-bottom: 1vh;
  padding-top: 0;
  width: 170px;
}

.intro-text, .skills-listed {
  width: 45%;
}

.skills-container {
  grid-template-columns: repeat(3, 1fr);
}

.featured-projects {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px 10%;
}

.featured-header {
  margin-left: 36%;
}

.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10px;
  padding-left: 0;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  margin-bottom: 20px;
}

.project-image {
  height: 250px;
  width: 100%;
}

.project-text {
  align-self: flex-start;
  margin-bottom: 2vh;
  margin-top: 2vh;
  width: 100%;
}

.skill-tags-container {
  padding-bottom: 0;
  padding-top: 0;
}

.menu-container-other {
  margin-left: 10vw;
  margin-right: 10vw;
}

.my-thoughts {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px 10%;
}

.my-thoughts-header {
  margin-left: 33%;
}

.thoughts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10px;
  padding-left: 0;
}

.thought-image {
  height: 250px;
  width: 100%;
}

.thoughts {
  padding-bottom: 0;
}

.other-thoughts {
  margin-left: 10vw;
  margin-right: 10vw;
}

.thoughts-other {
  padding-left: 0.5vw;
}

.box-other {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 20px;
}

.skill-tag {
  font-size: 12px;
  margin-right: 8px;
  padding: 8px;
}

ul {
  padding-right: 3vw;
}
}

@media(min-width: 1024px) {
h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.hero-image {
  height: 50vh;
}

.hero-text {
  margin-left: 12vw;
  margin-top: 4vh;
}

.hero-title {
  font-size: 20px;
}

.highlight {
  font-weight: 700;
}

.circles-white {
  margin-right: 18vw;
  margin-top: 2vh;
}

.circle-white {
  margin-right: 1vw;
}

.profile-image {
  height: 210px;
  margin-right: 18vw;
  width: 210px;
}

.intro-section {
  padding-bottom: 8vh;
  padding-top: 8vh;
}

.intro-text {
  font-family: 'Montserrat';
  font-size: 22px;
  width: 55%;
}

.tech-skills {
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.skills-listed {
  font-family: 'Montserrat';
  font-size: 22px;
  margin-top: 1vh;
  width: 55%;
}

.project-text {
  font-size: 20px;
}

.skills {
  padding-bottom: 4vh;
  padding-top: 6vh;
}

.skills-box {
  font-size: 20px;
}

.skill-title {
  margin-bottom: 0;
}

.thought-date {
  font-size: 20px;
}

.thoughts {
  font-size: 25px;
}

.thoughts-text, .thoughts-more {
  font-size: 20px;
}

.thoughts-text {
  margin-top: 1vh;
}

.for-more {
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.contact {
  padding-bottom: 12vh;
}

#contact-text {
  font-size: 25px;
  padding-bottom: 20px;
}
}